<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code Sender</title>
</head>
<body>
<p>Estimado(a) Sr(a)</p>
<div><strong>${fullname}</strong></div>

<p>
    Se ha cambiado la contrase&ntilde;a de tu Casilla Fiscal Electr&oacute;nica <strong>${usuario}</strong>.

</p>
<p>

</p>
<p>&nbsp;
</p>
<p>
    Atentamente,
</p>
<p><strong>Ministerio P&uacute;blico - Fiscal&iacute;a de la Naci&oacute;n</strong></p>
<img width="240px" src="https://i.postimg.cc/xCV5Xd0L/mpfn.jpg" alt="Ministerio P&uacute;blico Fiscal&iacute;a de la Naci&oacute;n">
</body>
</html>