<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code Sender</title>
</head>
<body>
<p>Sr(a):</p>
<div><strong>${fullname}</strong></div>

<p>
    Hemos recibido una solicitud para recuperar su cuenta de Casilla Fiscal Electr&oacute;nica a trav&eacute;s de la direcci&oacute;n de correo electr&oacute;nico ${correo}.

</p>
<p>
    Ingrese al siguiente enlace para cambiar su contrase&ntilde;a: <a href="${url}"><strong>Click aqu&iacute; para acceder.</strong></a>
</p>
<p>
    Este enlace caducar&aacute; en 10 minutos de recibido este correo electr&oacute;nico.
</p>
<p>
    &nbsp;
</p>
<p>
    Atentamente,
</p>
<p><strong>Ministerio P&uacute;blico - Fiscal&iacute;a de la Naci&oacute;n</strong></p>
<img width="240px" src="https://i.postimg.cc/xCV5Xd0L/mpfn.jpg" alt="Ministerio P&uacute;blico Fiscal&iacute;a de la Naci&oacute;n">
</body>
</html>