<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code Sender</title>
</head>
<body>
<p>Estimado(a) Sr(a). <strong>${fullname}</strong>,</p>

<p>
    Hemos recibido una solicitud para restablecer el acceso a su Casilla Fiscal Electrónica.

</p>

<p>
    Su código de verificación es:

</p>

<p>
    <strong>${codigo}</strong>
</p>
<p>
    Este código es válido por <strong>5 minutos</strong>. Si no solicitó esta recuperación, ignore este mensaje.
</p>
<p>
    <strong>Importante:</strong> Si no ingresa este código antes de su vencimiento, deberá solicitar uno nuevo.  &nbsp;
</p>
<p>
    Atentamente,
</p>
<p><strong>Ministerio P&uacute;blico - Fiscal&iacute;a de la Naci&oacute;n</strong></p>
<img width="240px" src="https://i.postimg.cc/vmbRmsY4/mprp.png" alt="Ministerio P&uacute;blico Fiscal&iacute;a de la Naci&oacute;n">
</body>
</html>