<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuenta bloqueada</title>
</head>
<body style="font-family: Arial, sans-serif; color: #333;">
<div style="max-width: 600px; margin: 0 auto; padding: 20px;">
    <p>Sr(a):</p>
    <p><strong>${fullname}</strong></p>
    <p>Se le informa que la cuenta de su Casilla Fiscal Electrónica ha sido bloqueada debido a un recurrente intento de acceso no autorizado Para activar nuevamente su cuenta, le recomendamos cambiar su contraseña.</p>
    <p>Recuerde que sus credenciales son de uso estrictamente personal e intransferible:</p>
    <p>Para actualizar su contraseña, haga clic <a href="${url}"><strong>aquí</strong></a>.</p>
    <div style="font-size: 12px; color: #777; border-top: 1px solid #ddd; margin-top: 20px; padding-top: 10px;">
        <p>Te hemos enviado este correo para informarte sobre las operaciones o solicitudes realizadas.</p>
        <p><strong>Ministerio Público</strong></p>
        <p>Oficina General de Tecnologías de la Información</p>
    </div>
    <div style="font-size: 12px; color: #777; border-top: 1px solid #ddd; margin-top: 20px; padding-top: 10px;">
        <table align="center" width="100%">
            <tr>
                <td align="center">
                    <img width="240px" src="https://i.postimg.cc/xCV5Xd0L/mpfn.jpg" alt="Ministerio P&uacute;blico Fiscal&iacute;a de la Naci&oacute;n">
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>