<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code Sender</title>
</head>
<body>
<p>Sr(a):</p>
<div><strong>${fullname}</strong></div>

<p>
    La contrase&ntilde;a de acceso a su Casilla Fiscal Electr&oacute;nica ha sido actualizada el d&iacute;a ${date} a las ${time} hrs.

</p>
<p>
    Recuerde que sus credenciales son de uso estrictamente personal e intransferible.
    Para acceder a su cuenta, haga clic <a href="${link_casilla}">aqu&iacute;</a>.
</p>
<p>&nbsp;
</p>
<p>
    Atentamente,
</p>
<p><strong>Ministerio P&uacute;blico - Fiscal&iacute;a de la Naci&oacute;n</strong></p>
<img width="240px" src="https://i.postimg.cc/xCV5Xd0L/mpfn.jpg" alt="Ministerio P&uacute;blico Fiscal&iacute;a de la Naci&oacute;n">
</body>
</html>